  <div class="row-fluid">
    <div class="span12 hide">
      <div id="feedback-alert" class="alert fade out alert-success">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <p><%=t.content.message_has_been_sent %></p>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12 text-center">
      <h1><%=t.feedback.title %></h1>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12 well">
      <form id="feedback-form" action="/<%=r18n.locale.code %>/feedback" method="post">
        <div class="row-fluid control-group">
          <input type="text" placeholder="<%=t.content.your_name %>"
                 id="name" name="feedback[name]" class="span12" />
        </div>
        <div class="row-fluid control-group">
          <input type="text" placeholder="<%=t.content.your_email %>"
                 id="email" name="feedback[email]" class="span12" />
        </div>
        <div class="row-fluid">
          <label class="span12" for="subject"><%=t.content.subject %>:</label>
        </div>
        <div class="row-fluid control-group">
          <select id="subject" name="feedback[subject]" class="span12">
            <option value=""><%=t.feedback.subject.default %></option>
            <option value="suggestion"><%=t.feedback.subject.suggestion %></option>
            <option value="bug"><%=t.feedback.subject.bug %></option>
            <option value="hello"><%=t.feedback.subject.hello %></option>
          </select>
        </div>
        <div class="row-fluid">
          <label class="span12" for="message"><%=t.content.your_message %>:</label>
        </div>
        <div class="row-fluid control-group">
          <textarea id="message" class="span12" name="feedback[message]" rows="6"></textarea>
        </div>

        <div class="row-fluid">
          <div class="span12 control-group">
            <div id="recaptcha" data-lang="<%=r18n.locale.code %>"
                 data-theme="clean" data-pubkey="<%=RECAPTCHA[:public_key] %>"></div>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span2 offset5">
            <input class="btn btn-large btn-success" type="submit" value="<%=t.content.send_form %>" />
          </div>
        </div>
      </form>
    </div>
  </div>
