<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4 offset4">
      <h1><%=t.index.title %></h1>
    </div>
  </div>
   <div class="row-fluid">
    <div class="span6 offset3 well">
      <form id="search-form" action="" method="get">
        <p>
          <span>From: </span>
          <select name="search[from][country]">
            <option value=""><%=t.content.country %></option>
            <option value="france"><%=t.countries.france %></option>
            <option value="germany"><%=t.countries.germany %></option>
          </select>
          <input type="text" name="search[from][city]" placeholder="City" />
        </p>
        <p>
          <span>To: </span>
          <select name="search[to][country]">
            <option value=""><%=t.content.country %></option>
            <option value="france"><%=t.countries.france %></option>
            <option value="germany"><%=t.countries.germany %></option>
          </select>
          <input type="text" name="search[to][city]" placeholder="City" />
        </p>
        <p>
        <input id="when-date" type="text" placeholder="Date" 
               name="search[when][date]" />
          <select name="search[when][margin]">
            <option value="">Margin</option>
            <option value="0">Fix</option>
            <option value="1">+/-1 day</option>
            <option value="2">+/-2 day</option>
            <option value="3">+/-3 day</option>
            <option value="4">+/-4 day</option>
          </select>
        </p>

        <p>
          <span>Booking bullshit: </span>
          <select id="booking" name="search[booking]">
            <option value='both'>Both</option>
            <option value='yes'>Sure</option>
            <option value='no'>No way</option>
          </select>
        </p>
        <input class="btn btn-large" type="submit" value="submit" />
      </form>
    </div>
  </div>
</div>
