  <div class="row-fluid">
    <div class="span12 text-center">
      <h1><%=t.index.title %></h1>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 well">
      <form id="search-form" action="" method="get">
        <div class="row-fluid">
          <span class="span2"><%=t.content.from %>: </span>
          <select id="from-country" name="search[from][country]" class="span3">
            <option value=""><%=t.content.country %></option>
            <% COUNTRIES.each do |country| %>
              <option value="<%=country['name'] %>" data-countrycode="<%=country['code'] %>">
                <%=t.countries.send(country['name']) %>
              </option>
            <% end %>
          </select>
          <input type="text" id="from-city" name="search[from][city]"
                 placeholder="<%=t.content.city %>" class="span4" data-countrycode=""/>
          <select name="search[from][radius]" class="span3">
            <option value="1"><%=t.content.radius %></option>

            <% [1, 2, 5, 10, 20, 30, 40, 50].each do |i| %>
              <option value="<%=i %>"><%=i %> km</option>
            <% end %>

          </select>
        </div>
        <div class="row-fluid">
          <span class="span2"><%=t.content.to %>: </span>
          <select id="to-country" name="search[to][country]" class="span3">
            <option value=""><%=t.content.country %></option>
            <% COUNTRIES.each do |country| %>
              <option value="<%=country['name'] %>" data-countrycode="<%=country['code'] %>">
                <%=t.countries.send(country['name']) %>
              </option>
            <% end %>
          </select>
          <input type="text" id="to-city" name="search[to][city]"
          placeholder="<%=t.content.city %>" class="span4" data-countrycode=""/>
          <select name="search[to][radius]" class="span3">
            <option value="1"><%=t.content.radius %></option>

            <% [1, 2, 5, 10, 20, 30, 40, 50].each do |i| %>
              <option value="<%=i %>"><%=i %> km</option>
            <% end %>

          </select>
        </div>
        <div class="row-fluid">
          <input id="when-date" type="text" placeholder="<%=t.content.date %>"
                 name="search[when][date]" class="span5 offset2"
                 value="<%=Date.today.strftime '%d-%m-%Y' %>"/>
          <select name="search[when][margin]" class="span5">
            <option value="0"><%=t.content.margin %></option>
            <option value="1">+/-1 <%=t.content.day %></option>
            <option value="2">+/-2 <%=t.content.days %></option>
            <option value="3">+/-3 <%=t.content.days %></option>
            <option value="4">+/-4 <%=t.content.days %></option>
          </select>
        </div>
        <div class="row-fluid">
          <span class="span5 offset2"><%=t.content.booking_system %>: </span>
          <select id="booking" name="search[booking]" class="span5">
            <option value='both'><%=t.content.both %></option>
            <option value='yes'><%=t.content.sure %></option>
            <option value='no'><%=t.content.no_way %></option>
          </select>
        </div>
        <div class="row-fluid">
          <div class="span2 offset5">
            <input class="btn btn-large btn-success" type="submit" value="<%=t.content.search %>" />
          </div>
        </div>

      </form>
    </div>
  </div>
