  <div class="row-fluid">
    <div class="span12">
      <h1>
        <%= search[:from][:city] %>
        <%=t.content.to.downcase %>&nbsp;<%= search[:to][:city] %>
      </h1>
      <h2>
        <%= date.strftime('%A %d %B %Y') %>
      </h2>
    </div>
  </div>

  <% unless results.any? %>
    <div class="row-fluid">
      <div class="span12">
        <span class="not-found">
          <%=t.content.no_trip_found %>
        </span>
      </div>
    </div>
  <% else %>
    <% results.each do |result| %>
      <div class="row-fluid">
        <div class="span12 well">
          <div class="row-fluid">
            <div class="span8">
              <small><%=result.from %>&nbsp;->&nbsp;<%=result.to %></small>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span3">
              <% if result.username %>
                <%= result.username %>
              <% else %>
                <%=t.content.unknown %>
              <% end %>
            </div>
            <div class="span4 date"><%= result.date.strftime('%d %B %y - %H:%M') %></div>
            <div class="span5">
              <a href="<%= result.link %>" target="_blank" class="pull-right">
                See on <%= result.service %>
              </a>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <b>Booking system: </b>
              <% if result.booking %>
                <%=t.content.yeah %>
              <% else %>
                <%=t.content.nah %>
              <% end %>
            </div>
            <div class="span4">
              <% if result.places %>
                <span class="nb-places">
                  <%=result.places %>
                </span>
                &nbsp;<%=t.content.seats_remaining %>
              <% end %>
            </div>
            <div class="span4 price">
              <div class="pull-right">
                <% if result.price %>
                  <%= result.price %>
                <% else %>
                  ?€
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

