  <div class="row-fluid">
    <div class="span6 offset3">
      <a href="/"><%=t.content.new_search %></a>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6 offset3">
      <h1>
        <%= search[:from][:city] %>
        to&nbsp;<%= search[:to][:city] %>
      </h1>
      <h2>
        The&nbsp;<%= search[:when][:date] %>
      </h2>
    </div>
  </div>

  <% results.each do |result| %>
    <div class="row-fluid">
      <div class="span6 offset3 well">
        <div class="row-fluid">
          <div class="span8">
            <small><%=result.from %>&nbsp;->&nbsp;<%=result.to %></small>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span3">
            <% if result.username %>
              <%= result.username %>
            <% else %>
              <%=t.content.unknown %>
            <% end %>
          </div>
          <div class="span4"><%= result.date.strftime('%d/%m/%y %H:%M') %></div>
          <div class="span5">
            <a href="<%= result.link %>" target="_blank" class="pull-right">
              See on <%= result.service %>
            </a>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4"><b>Booking system: </b><%= result.booking %></div>
          <div class="span3">
            <% if result.places %>
              <%=result.places %>&nbsp;<%=t.content.seats_remaining %>
            <% end %>
          </div>
          <div class="span2 pull-right">
            <% if result.price %>
              <%= result.price %>
            <% else %>
              ?€
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

